@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: Hanken Grotesk;
    font-style: normal;
    font-weight: 200 600;
    font-display: swap;
    src: url("../fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

@theme {
    --font-sans: 'Hanken Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-bgblack: #060606;
    --text-2xs: 0.625rem;
    --font-weight-bold: 600;

}
